﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Web.PublishedModels
@{
	var content = (ContentModels.MyBlock)Model.Content;
	var settings = (ContentModels.MyBlock)Model.Settings;
}

// Output the value of field with alias 'heading' from the Element Type selected as Content section
<h1>@content.Value("mandatoryName") @content.Value("title")</h1>
<p>